# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Optional:
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.yaml
docker-compose.yml
.dockerignore
Dockerfile
